$colorText: #253036;
$colorStroke: #d8e0ea;
$colorWhite: #fff;
$colorPlaceholder: #abb4bf;
$colorDark: #1c1f26;
$colorMain: #c0392b;
$colorSecond: #e74c3c;
$colorBlue: #1a85f8;
$colorYellow: #f1c40f;
$colorGray: #cccccc;
$colorDarkBlue: #01052d;
$colorDarkGray: #2a2c35;
$colorSuccess: #2ebb7b;
$colorGreen: #39cd74;
$colorLightGray: #f5f5f5;
$colorLightBrown: #91152a;
$colorGreenBoss: #1ddf9c;

$colorButtonMain: linear-gradient(133deg, rgba(236,72,153,1) 0%, rgba(248,113,113,1) 100%);
$colorScroll: rgba(217, 219, 226, 0.85);
$backgroundScroll: rgba(102, 51, 153, 0);
$colorTextMainHover: #be185d;
$colorError: #e74c3c;

// Dark - Start
$backgroundDark: #111827;
$backgroundHeaderDark: #1f2937;
$colorTextMainDark: #fff;
$colorBorderBottomDark: #1f2937;
// Dark - End

// Light - Start
$backgroundLight: #fff;
$backgroundHeaderLight: #fff;
$colorTextMainLight: #666666;
// Light - End

