$colorText: #253036;
$colorStroke: #d8e0ea;
$colorWhite: #fff;
$colorPlaceholder: #abb4bf;
$colorDark: #1c1f26;
$colorMain: #c0392b;
$colorSecond: #e74c3c;
$colorBlue: #1a85f8;
$colorYellow: #f1c40f;
$colorGray: #cccccc;
$colorDarkBlue: #01052d;
$colorDarkGray: #2a2c35;
$colorSuccess: #2ebb7b;
$colorGreen: #39cd74;
$colorLightGray: #f5f5f5;
$colorLightBrown: #91152a;
$colorGreenBoss: #1ddf9c

