@import "../../assets/scss/variables";

.styleBtnMenu {
  padding-top: 14px;
  a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0 5px;
  }
}

.walletWrap {
  text-align: right;
  font-size: 20px;
  display: flex;
  justify-content: end;
  .isWalletAddress {
    width: 100%;
    height: 100%;
      position: relative;
      transition: all 1s;
    max-width: 180px;
    &:hover .styleLogout{
      opacity: 1;
      display: block;
    }
    .styleLogout {
      position: absolute;
      width: 100%;
      top: 100%;
      opacity: 0;
      left: 0;
      display: none;
      padding: 5px;
      transition: all 1s;
      text-align: center;
      color: #ffffff;
      z-index: 999;
      cursor: pointer;
      span {
        margin-top: 10px;
      }
    }
    .styleLogout:hover {
      color: #ffca20;
    }
  }
  a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.1s;
    .stylesWalletAdress {
      position: absolute;
      top: -3px;
      left: 0;
      width: 100%;
      text-align: center;
      overflow: hidden;
      padding: 0 5px;
    }
  }
  img {
    width: auto;
  }
  .isWalletAddress {
    img {
      width: 100%;
    }
  }
}

.walletWrapCenter {
  justify-content: center;
}

@media only screen and (max-width: 996px) {
  .walletWrap {
    text-align: right;
    font-size: 20px;
    img {
      width: 70%;
    }
    .isWalletAddress {
      img {
        width: 100%;
      }
      .styleLogout {
        position: absolute;
        width: 100%;
        top: 100%;
        opacity: 0;
        left: 0;
        display: none;
        padding: 5px;
        transition: all 1s;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        span {
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .walletWrap {
    .isWalletAddress {
      img {
        width: 82%;
      }
    }
  }
}

