@import "../../../assets/scss/variables";

.modal-approve {
  top: 25%;
  .ant-modal-content {
    background-color: #2a1d5500;
    border-radius: 24px;
    text-align: center;
    .ant-modal-close-x {
      color: #FFFFFF;
    }
    .ant-modal-body {
      width: 100%;
      background: linear-gradient(330.58deg, #000532 14.58%, #370063 126.52%);
      box-shadow: 0 2px 1px #FFCA20;
      border-radius: 24px;
      border-top: 1px solid #FFCA20;
      padding: 0;
    }
  }
}